<div class="main-right setting" style="display:block;z-index: 1001">
    <div  class="main-right-nav">
        <h2 class="you-name">好友信息</h2>
    </div>
    <div class="main-right-change" >
        <ul>
            <li>昵称<span ng-bind="strangerMessage.nick" ></span></li>
            <li>性别<span ng-bind="strangerMessage.sex"></span></li>
            <li>电话<span ng-bind="strangerMessage.phone"></span></li>
            <li>邮箱<span ng-bind="strangerMessage.email"></span></li>
            <li>头像路径<span></span></li>
            <li>个性签名<span ng-bind="strangerMessage.sign_info"></span></li>
        </ul>
        <button ui-sref="main.friend">取消</button>
        <button ui-sref="" onclick="document.getElementById('page').style.display='block';">添加好友</button>
    </div>
   
</div>
 <div class="page" id="page" style=" display: none; position: absolute; top: 25%;   left: 25%; width: 50%; height: 50%; padding: 16px;border: 1px solid black; background-color: white;  z-index:1002; overflow: auto;  ">
          <label>请输入验证信息:</label>
         <textarea id="message" cols="20" rows="5" ng-model='message.message' >   </textarea>
        <button onclick="document.getElementById('page').style.display='none';" >取消</button>
        <button ui-sref="" ng-click="addFriendSub()">添加好友</button>
    </div>