<link rel="stylesheet" type="text/css" href="css/main.css" />
<script language="javascript" type="text/javascript" src="js/main.js"></script>
<script language="javascript" type="text/javascript" src="js/createlist.js"></script>
<script charset="UTF-8" language="javascript" type="text/javascript" src="js/weChat.js"></script>
<div class="main"  ng-controller="mainCtrl1" onclick="dropup()">
    <!-- 左部框架 -->
    <div class="main-left">
        <div class="main-left-nav">
            <!-- 个人图片 -->
            <div class="main-left-nav-image">
                <img src="{{userMessage.user.avatar}}" width="40px" height="40px"/>
            </div>
            <div class="main-left-nav-info">
                <!-- 个人名字 -->
                <h3 class="my-name"><span ng-bind="userMessage.user.nick"></span></h3>
                <!-- 菜单标签 -->
                <a  onclick="dropdown()" href="#">
                    <i class="main-left-nav-info-1" ></i>
                </a>
            </div>
        </div>
        <!-- 搜索框 -->
        <div class="search_bar" id="search_bar">
            <i class="web_wechat_search"></i>
            <input class="frm_search" type="text" placeholder="搜索" ng-model="searchText">
        </div>
        <!-- tab标签栏 -->
        <div class="tab">
            <div class="tab_item" style="border-right:1px solid #24272C;">
                <!-- 聊天列表 -->
                <a class="chat"  ui-sref="main.chatlist"  onclick="change_web_wechat_tab_chat(this)" href="#"><i class="web_wechat_tab_chat" ></i></a>
            </div>
            <div class="tab_item">
                <!-- 朋友列表 -->
                <a class="chat" ui-sref="main.friendlist" onclick="change_web_wechat_tab_friends(this)" href="#"><i class="web_wechat_tab_friends"></i></a>
            </div>
        </div>
        <!-- 聊天标签 -->
        <div ui-view="leftview"></div>

    </div>

    <!--下拉菜单-->
    <div class="dropdown_memu">
        <ul>
            <li>
                <a title="添加好友" ui-sref="main.friend" href="#"><i class="menuicon_friend"></i>添加好友</a>
            </li>
            <li>
                <a title="个人设置" ui-sref="main.setting" href="#"><i class="menuicon_setting"></i>个人设置</a>
            </li>
            <li class="last_child">
                <a href="#" title="退出" ng-click="logoffSub()"><i class="menuicon_quit"></i>退出</a>
            </li>
        </ul>
    </div>

    <!--右部测试框架-->
    <div ui-view="rightview"></div>



    <div id='rightmenu' style="position:fixed;z-index:1000" class="ng-hide">
        <ul>
            <li>
                <a>删除好友</a>
            </li>
            <li>
                <a>查看好友信息</a>
            </li>
            <li>
                <a>创建群</a>
            </li>
        </ul>

    </div>


</div>
