<div class="main-right setting" style="display:block;z-index: 10000">
    <div  class="main-right-nav">
        <h2 class="you-name">个人设置</h2>
    </div>
    <div class="main-right-change" >
        <ul>
            <li>昵称<span ><input ng-model="userMessage.user.nick" /></span></li>
            <li>性别<span ><input ng-model="userMessage.user.sex" /></span></li>
            <li>电话<span ><input ng-model="userMessage.user.phone" /></span></li>
            <li>邮箱<span ><input ng-model="userMessage.user.email" /></span></li>
            <li>头像路径<span><input  /></span></li>
            <li>个性签名<span><input ng-model="userMessage.user.sign_info"/></span></li>
        </ul>
        <button ng-click="alterUserMessageSub()">保存个人设置</button>
    </div>
</div>